$grey: #848484;
$grey_light:#F6F6F6;
$grey_line: #E8E8E8;
$black: #121212;
$white: #fff;
$green: #4BB14B;
$blue: #2E2E82;
$blue_2: #4F4FAD;
$orange: #FF6600;
$Turquoise: #00CCFF;
$purple: #A84CF0;
$yellow: #FFC107;


$Black: #121212;
$Cherry: #DC41A0;
$White: #fff;
$Yellow: #FFEC00;


/*
 * ==================================================================================
 * Windows size
 * ==================================================================================
 */

$extra-less: 360px;
$less: 390px;
$xx: 480px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1280px;
$xxl: 1512px;